# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Models & data
models/llm/*
models/embedding/*
!models/embedding/.gitkeep
!models/llm/.gitkeep
storage/*
!storage/.gitkeep

# Docker
docker/.env

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

